* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #4eb869;
  --secondaryColor: #ffda71;
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Open Sans";
  background-color: var(--white);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

h4,
h6 {
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

/* Menu Integration */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
#zloading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  padding-top: 200px;
  padding-top: 30vh;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette|Oswald:200,300,400,500,600,700&display=swap");

#zuppler-menu {
  font-family: Open Sans !important;
}

.zbutton-primary,
.option-selected .option-label span,
.option-label .quantity-picker .icon-primary-reverse,
.option-label .quantity-picker input,
.zbutton.zbutton-contrast-reverse.enabled.dropdown-trigger.navigation-cart-button.zbutton-active
  div:first-child
  span,
.z-menu-item-title .z-menu-item-qty span {
  color: #fff !important;
}
.z-menu-category-title {
  font-weight: 400 !important;
  font-size: 30px !important;
}
.z-menu-item-title {
  font-family: Courgette !important;
}
